$sidebarBg:#000;
/*左侧栏*/
.sidebar {
    float:left;
    width: 200px;
    height: 100%;
    overflow: auto;
    background: $sidebarBg;
    box-shadow: 0 1px 14px 0 rgba(0,0,0,.12);
    >ul {
      padding-top:15px;
      >li {
        position: relative;
        a {
          display: block;
          padding-left: 57px;
          margin-bottom:8px;
          height:38px;
          line-height: 38px;
          color:#fff;
          font-size:14px;
          &.active,
          &:hover {
            background:rgba(255,255,255,0.12);
            color:$brand-primary;
            border-right:4px solid $brand-primary;
          }
          >.iconfont {
            position: absolute;
            left:30px;
            font-size:14px;
          }

        }


      }
    }
}
