extends ../../layout/index-main.pug
append styles
  link(rel="stylesheet", href="/css/site/site.css")
  link(rel="stylesheet", href="/css/page/audit.css")

block title
  title 审核管理

block content-body
  ol.breadcrumb
    li  首页
    li.active 审核管理
  ol.nav.nav-tabs
      li.active
        a 活动审核
      li
        a 资讯审核
      li
        a 二级网点审核
      li
        a 认证审核
  #panels
    .panel
      .pd20
        form(action="#",class="form-inline")
            .form-group
              lable 活动类型
              select(name="activity-type",class="form-control")
                option(value="-1")  请选择
            .form-group
              lable 审核状态
              select(name="activity-type",class="form-control")
                option(value="-1")  请选择
            .form-group
              lable 审核时间
              input(type="text",class="form-control")
            .form-group
              lable 经销商
              input(type="text" value="经销商名称",class="form-control")
            .form-group
              lable 活动标题
              input(type="text" value="经销商名称",class="form-control")





