// forms
// 基本样式
label {
  display: inline-block;
  max-width: 100%;
}
// Position radios and checkboxes better
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9; // IE8-9
  line-height: normal;
}
//input,select
.form-control {
  height:$input-height-base;
  padding: $padding-base-vertical $padding-base-horizontal;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $input-color;
  background-color: $input-bg;
  outline: 0;
  border: 1px solid $input-border;
  border-radius: $input-border-radius-base;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
input[type="file"] {
  display: block;
}
//水平排列表单
.form-inline {
  .form-group {
    display: inline-block;
    margin-right: 25px;
    lable {margin-right:10px;}
  }
}
