//
// Forms
// --------------------------------------------------

// 标准化未受控组件
//
//

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 11px;
  font-size: $font-size-base;
  color: #666;

  &.required {
    &:before {
      content: '* ';
      color: $required-color;
      vertical-align: middle;
    }
  }
}

// 标准化受控组件
//
//

input[type="search"] {
  box-sizing: border-box;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}

input[type="file"] {
  display: block;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  @include tab-focus;
}

select[multiple],
select[size] {
  height: auto;
}

// 表单公共样式
//

.form-control {
  display: block;
  width: 100%;
  height: $input-height-base;
  padding: $padding-base-vertical $padding-base-horizontal;
  font-size: $font-size-base;
  line-height: $input-height-base;
  color: $input-color;
  background-color: $input-bg;
  background-image: none;
  border: 1px solid $input-border;
  border-radius: $input-border-radius-base;
  // box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

  @include form-control-focus;
  @include placeholder;

  // 清除 ie 的默认选择框样式，隐藏下拉箭头
  &::-ms-expand {
    border: 0;
    background-color: transparent;
  }

  // Disabled 和 read-only 的 input 元素的样式
  &[disabled],
  &[readonly] {
    background-color: $input-bg-disabled;
    opacity: 1;
  }

  &[readonly] {
    border: none;
    box-shadow: none;
    &:focus {
      border: none;
      box-shadow: none;
    }
  }

  &[disabled] {
    cursor: $cursor-disabled;
  }
}

// 重置 textarea 的高度
textarea.form-control {
  height: auto;
}

// From groups
//
// 表单组

.form-group {
  margin-bottom: $form-group-margin-bottom;
}

// checkbox 和 radio 的样式
//

.radio,
.checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;

  label {
    min-height: $line-height-computed;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
  }
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px \9;
}

.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px;
}

.radio-inline,
.checkbox-inline {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}

input[type="radio"],
input[type="checkbox"] {
  &[disabled],
  &.disabled {
    cursor: $cursor-disabled;
  }
}

.radio-inline,
.checkbox-inline {
  &.disabled {
    cursor: $cursor-disabled;
  }
}

.radio,
.checkbox {
  &.disabled {
    label {
      cursor: $cursor-disabled;
    }
  }
}

// 非表单元素的样式
//

// 通过在 p 标签上使用该类以获得在水平表单下和 label 文字对齐的效果
.form-control-static {
  padding-top: ($padding-base-vertical + 1);
  padding-bottom: ($padding-base-vertical + 1);
  font-size: $font-size-base;

  // 清除 p 元素的默认 margin
  margin-bottom: 0;
  min-height: ($line-height-computed + $font-size-base);

  &.input-lg,
  &.input-sm {
    padding-left: 0;
    padding-right: 0;
  }
}

.form-control-static-img {
  height: $form-control-static-img-height;
  width: $form-control-static-img-width;
}

// 状态相关的样式 (成功，警告，错误)
//
//

.has-feedback {
  position: relative;
  .form-control {
    padding-right: ($input-height-base * 1.25);
  }
}

.form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: $input-height-base;
  height: $input-height-base;
  line-height: $input-height-base;
  text-align: center;
  pointer-events: none;
}

// feedback 状态
// .has-success {
//   TODO
// }

// .has-warning {
//   TODO
// }

.has-error {
  @include form-control-validation($state-danger-text, $state-danger-text, $state-danger-text);
}

.has-feedback label {
  & ~ .form-control-feedback {
    top: ($line-height-computed + $padding-base-vertical + 5 + 1);
  }
}

// Help text
//
//

.help-block {
  position: absolute;
  display: block;
  margin-top: 8px;
  margin-bottom: 10px;
  color: lighten($text-color, 25%);
  font-size: $font-size-small;
  letter-spacing: 1px;

  i {
    font-size: $font-size-middle;
    vertical-align: middle;
  }
}

// 水平表单
//

.form-horizontal {
  // 使 .form-horizontal 类下的 .form-group 在行为上表现的和 .row 一样
  .form-group {
    @include make-row;
  }

  // 水平表单的 label 文字居右
  @media (min-width: $screen-sm-min) {
    .control-label {
      text-align: right;
      margin-bottom: 0;
      padding-top: ($padding-base-vertical + 1); // 用默认的 padding 加上一个 border
    }
  }

  .has-feedback .form-control-feedback {
    right: floor(($grid-gutter-width / 2));
    top: 0;
  }
}

// Inline forms
//
//

@mixin form-inline {
  @media (min-width: $screen-sm-min) {
    .form-group {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
    }

    .form-control {
      display: inline-block;
      width: auto;
      vertical-align: middle;
    }

    .form-control-static {
      display: inline-block;
    }

    .control-label {
      margin-bottom: 0;
      vertical-align: middle;
    }

    // 重置 radios/checkboxes 的样式
    .radio,
    .checkbox {
      display: inline-block;
      margin-top: 0;
      margin-bottom: 0;
      vertical-align: middle;

      label {
        padding-left: 0;
      }
    }

    .radio input[type="radio"],
    .checkbox input[type="checkbox"] {
      position: relative;
      margin-left: 0;
    }

    // 覆盖 feedback 样式
    .has-feedback .form-control-feedback {
      top: 0;
    }
  }
}

.form-inline {
  @include form-inline;
  label {
    color: $text-color;
  }
}

// 垂直居中的 label
.vm-label {
  height: $form-control-static-img-height;
  padding-top: (($form-control-static-img-height - $font-size-base) / 2) !important;
}

// 美化 select 元素
// TODO
// select {
//   padding-top: 0 !important;

//   // 清除 select 默认样式
//   appearance: none;
//   // background: url("/assets/images/arrow-down.png") no-repeat scroll right center transparent !important;
//   // padding-right: 14px !important;

//   &.form-control {
//     // select 文本垂直居中
//     line-height: ($input-height-base - 1);
//   }
// }
