//- test.pug
extends ../../layout/index-main.pug
append styles
  link(rel="stylesheet", href="/css/site/site.css")

block title
  title 主要布局测试

block content-body
  div.mask
    .dialog
      .select-group
        a(href="#",class="btn btn-default btn-mid") 取消
        a(href="#",class="btn btn-primary btn-mid") 确定
        a(href="#",class="btn btn-default btn-mid") 取消
        a(href="#",class="btn btn-primary btn-mid") 确定
        a(href="#",class="btn btn-default btn-mid") 取消
        a(href="#",class="btn btn-primary btn-mid") 确定
        a(href="#",class="btn btn-default btn-mid") 取消
        a(href="#",class="btn btn-primary btn-mid") 确定
