//- sidebar.pug
.sidebar
  ul
    li
      a(href="javascript:;" class="active")
        i(class="iconfont icon-home")
        span 首页

    li
      a(href="javascript:;")
        i(class="iconfont icon-order")
        span 订单管理
    li
      a(href="javascript:;")
        i(class="iconfont icon-financial")
        span 金融预审
    li
      a(href="javascript:;")
        i(class="iconfont icon-evaluation")
        span 评价管理
    li
      a(href="javascript:;")
        i(class="iconfont icon-car")
        span 车辆管理
    li
      a(href="javascript:;")
        i(class="iconfont icon-goods")
        span 商品管理
    li
      a(href="javascript:;")
        i(class="iconfont icon-dealers")
        span 经销商管理
    li
      a(href="javascript:;")
        i(class="iconfont icon-audit")
        span 审核管理
    li
      a(href="javascript:;")
        i(class="iconfont icon-clues")
        span 线索管理
    li
      a(href="javascript:;")
        i(class="iconfont icon-activity")
        span 活动管理
    li
      a(href="javascript:;")
        i(class="iconfont icon-coupons")
        span 优惠券管理
    li
      a(href="javascript:;")
        i(class="iconfont icon-integral")
        span 积分配置
    li
      a(href="javascript:;")
        i(class="iconfont icon-interactive")
        span 互动管理
    li
      a(href="javascript:;")
        i(class="iconfont icon-complaints")
        span 投诉管理
    li
      a(href="javascript:;")
        i(class="iconfont icon-VIP")
        span 会员管理
    li
      a(href="javascript:;")
        i(class="iconfont icon-statistical")
        span 报表统计
    li
      a(href="javascript:;")
        i(class="iconfont icon-permissions")
        span 权限管理
    li
      a(href="javascript:;")
        i(class="iconfont icon-announcement")
        span 公告管理
    li
      a(href="javascript:;")
        i(class="iconfont icon-system")
        span 系统设置
    li
      a(href="javascript:;")
        i(class="iconfont icon-permissions")
        span 权限管理
    li
      a(href="javascript:;")
        i(class="iconfont icon-announcement")
        span 公告管理
    li
      a(href="javascript:;")
        i(class="iconfont icon-system")
        span 系统设置
