//- layout index-main.pug
doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
    //- 替换为具体页面引用的样式
    block styles
      link(rel="stylesheet", href="//at.alicdn.com/t/font_555036_ruqfvd0asxe3tyb9.css")
      link(rel="stylesheet", href="/css/framework/framework.css")
    //- 替换为具体页面的标题
    block title
      title default title
  body
    .wrapper
      include ../component/header.pug
      .main
        include ../component/sidebar.pug
        .content
          .content-body
            block content-body
          include ../component/footer.pug
    block scripts
      script(src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js")
